# Port 60022

AddressFamily inet
ListenAddress 0.0.0.0

HostKey /app/etc/ssh_host_rsa_key

Protocol 2

PermitRootLogin no

PasswordAuthentication yes
PermitEmptyPasswords no

ChallengeResponseAuthentication no

UsePAM yes

X11Forwarding no
PrintMotd no

AcceptEnv LANG LC_*
